
<%= render template: "layouts/navbar"%>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
</style>

<div class="container-fluid" >
<div id='space' style='height: 1em;'></div>
    <div class="d-flex justify-content-center">
        <div ID="Contenedor-Hora" class="container-sm bg-dark text-light row " style="width: 360px; font-family: 'Tilt Prism' ; font-size: 65px  ; border-radius: 35px 15px ;" >
            <p id="h-horas" class="col container-fluid">3</p>:
            <p id="h-minutos" class="col container-fluid ">21</p>:
            <p id="h-segundos" class="col container-fluid" >24</p>
        </div>
    </div>

<div id='space' style='height: 1em;'></div>
    
    <div class="d-flex justify-content-center">
        <div ID="Contenedor-Cronometro" class="d-flex flex-content bg-dark text-light col-2 " style="width: 370px; font-family: 'Tilt Prism' ; font-size: 65px ; border-radius: 35px 15px;" >
            <p id="c-horas" class="flex-item p-2 ">3</p>:
            <p id="c-minutos" class="flex-item p-2 ">21</p>:
            <p id="c-segundos" class="flex-item p-2 " >24</p>.
            <p id="c-decimas" class="flex-item align-self-end p-3 " style="font-size: 45px ;">2</p>
        </div>
    </div>
<%= a = audio_tag "alarm1.mp3" , id: "alarm1", autoplay: true, controls: true , mute: true %>
<%= image_tag "a.jpg" %>

<div id='space' style='height: 6em;'></div>

    <button id="primerBoton" type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>
    <button type="button" class="btn btn-link">Link</button>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>
    <button type="button" class="btn btn-link">Link</button>
</div >

<script>

//variables de actualizarHora
    var fecha;
    var Hhoras;
    var Hmins;
    var Hseg;

    var actualizarHora = function(){
        fecha=new Date();
        Hhoras=fecha.getHours();
        Hmins = fecha.getMinutes();
        Hseg= fecha.getSeconds();

        var pHoras=document.getElementById('h-horas');
        var pMinutos=document.getElementById('h-minutos');
        var pSegundos=document.getElementById('h-segundos');


        pHoras.textContent=Hhoras.toString();
        if(Hmins<10){
            pMinutos.textContent="0"+Hmins.toString();
        }else{
            pMinutos.textContent=Hmins.toString();
        }
        if(Hseg<10){
            pSegundos.textContent="0"+Hseg.toString();
        }else{
            pSegundos.textContent=Hseg.toString();
        }
    }

    var horas=0;
    var mins=0;
    var seg=5;
    var dseg=9;

    var actualizarCronometro = function(){


        var pHoras=document.getElementById('c-horas');
        var pMinutos=document.getElementById('c-minutos');
        var pSegundos=document.getElementById('c-segundos');
        var pDSegundos=document.getElementById('c-decimas');
        
        dseg--;
        if(dseg==-1){
            dseg=9;
            seg--;
            if(seg==-1){
                seg=59;
                mins--;
                if (mins==-1){
                    horas--;
                    if(horas==-1){
                        horas=0;
                        mins=0;
                        seg=0;
                        dseg=0;
                        clearInterval(interval2);
                        document.getElementById('alarm1').play();
                    }                
                }
            }
        }

        pHoras.textContent=horas.toString();
        if(mins<10){
            pMinutos.textContent="0"+mins.toString();
        }else{
            pMinutos.textContent=mins.toString();
        }
        if(seg<10){
            pSegundos.textContent="0"+seg.toString();
        }else{
            pSegundos.textContent=seg.toString();
        }
        pDSegundos.textContent=dseg.toString();

    }
    actualizarHora();
    actualizarCronometro();

    var intervalo = setInterval(actualizarHora, 1000);


    document.addEventListener('DOMContentLoaded', function() {
        var primerBoton = document.getElementById('primerBoton');
        primerBoton.onclick = function() {
            var interval2 = setInterval(actualizarCronometro,100);
        }; 
    });





/*    var params2 = new URLSearchParams(document.location.search);

    function contratar(){  // Params (Nro auto, horas, usuario, valor)
        let monto= 1;
        let check=chequea(Number(auto_in), monto , (barra.value/4) ); // Num de error
        switch (check){
        case 0:
            console.log("El auto no esta ocupado y hay saldo "+location.host);
            let url = new URL(window.location.origin + "/alquilers");
            url.searchParams.set("auto",auto_in);
            url.searchParams.set("mins",(barra.value/4)*60);
            location.href = url
            return true;
            break;

    }
    function chequea(numAuto,dineroDisp,loUso,precio){ // Devuelve 0 si todo ok
        if (dineroDisp<precio){ return 2 } // Plata insuficiente
        
        if (loUso){ return 3 } // Ya lo uso hace -3h
    
        return 0 // Este se puede usar
    }

    function irHome(){
        window.location.href = "/";
    }
    if (new URLSearchParams(document.location.search).get("notice")!= null){
        window.alert(new URLSearchParams(document.location.search).get("notice"))
    }
*/
</script>