

.Paleta-Colores {
    background-color: #C25981;
    background-color: #8F0A84;
    background-color: #5D597A;
    background-color: #51A34B;
    background-color: #183147;
    background-color: #C5D1D9;
    background-color: #275D8C;
}

.nombre-crono {
    top: 0;
    width: 380px;
    height: 50px;
    font-size: 30px;
    border-radius: 12px;
    border: 1px solid #183147;
    text-align: center;
    display: block;
    margin: auto;
    word-wrap: break-word;
    background-color: #C5D1D9;
    color: #183147;
    box-shadow: 5px 5px 0px #888888;
    margin-bottom: 10px;
    transition: transform 0.3s ease-out;
    border: none;
}
.nombre-crono:hover {
    transform: scale(1.02);
}

.color-fondo{
    background-color: #C5D1D9;
}
.color-fondo2{
    background-color: #B5CCD9;
    color: #183147;
}

.color-acento{
    background-color: #275D8C;
}
.color-btn-primario{
    background-color: #183147;
}

.btn-historial{
    font-size: 20px;
    background-color: #183147;
    color: #ffff;
    left: 135px;
    right: 135px;
    bottom: 20px;
}
.cronometro {
    opacity: 1;
    transition: opacity 0.5s;
}

.nombre-crono.below {
    top: 1s;
    opacity: 0.75;
}

.container {
    display: flex;
    justify-content: center;
}